<nav class="rtl navbar navbar-expand-md navbar-dark bg-dark">
    <a style="margin-top:-10px;color:pink;
  font-family:ToyorAljanah;font-size:2.25rem;font-weight:bolder" class="navbar-brand"
      [routerLink]="['']" ><i class="fa fa-heart" aria-hidden="true"></i>زواج<i class="fa fa-heart" aria-hidden="true"></i></a>
  
    <ul *ngIf="loggedIn()" style="letter-spacing:1px;font-weight:bold;font-family:'JF-Flat';font-size:1.2rem" class="navbar-nav mr-auto">
      <li class="nav-item"> 
        <a class="nav-link" [routerLink]="['']" >الرئيسية </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/members']"  >بحث</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/lists']"   >تواصل</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/messages']"  >دردشة</a>
      </li>
       
    </ul>

    <div dropdown  class="dropdown" *ngIf="loggedIn()" >
        <a  dropdownToggle style="letter-spacing:1px;font-weight:bold;font-family:'JF-Flat';font-size:1.2rem" class="dropdown-toggle text-light nav-link">
            مرحبا بك
            {{authservice.decodedtoken?.unique_name}}
        </a>
        <div class="dropdown-menu mt-3" *dropdownMenu >
          <a class="dropdown-item"  [routerLink]="['/member/edit']" > <i class="fa fa-user-o" aria-hidden="true"></i> 
            بياناتى الشخصية</a>
           
           <div class="dropdown-divider"></div>
          <a class="dropdown-item"  (click)="loggeOut()" ><i class="fa fa-sign-out" aria-hidden="true"></i>
            خروج</a>
        </div>
      </div>
    <form *ngIf="!loggedIn()" (ngSubmit)="login()" #loginForm="ngForm" class="ml-5 form-inline my-2 my-lg-0">
      <input required name="username" class="form-control mr-sm-2" type="text" [(ngModel)]="model.username" placeholder="إسم المشترك">
      <input required name="password" class="form-control mr-sm-2" type="password" [(ngModel)]="model.password" placeholder="كلمة السر">
      <button [disabled]="!loginForm.valid" style="font-weight:bold;font-family:'JF-Flat';font-size:1.0rem" class="btn btn-secondary my-2 my-sm-0" type="submit">تفضل
        بالدخول</button>
    </form>
  </nav>